<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @gamestat.player_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @gamestat.team_id %>
</p>

<p>
  <strong>Match:</strong>
  <%= @gamestat.match_id %>
</p>

<p>
  <strong>Minutos:</strong>
  <%= @gamestat.minutos %>
</p>

<p>
  <strong>Puntos:</strong>
  <%= @gamestat.puntos %>
</p>

<p>
  <strong>T2:</strong>
  <%= @gamestat.t2 %>
</p>

<p>
  <strong>T2a:</strong>
  <%= @gamestat.t2a %>
</p>

<p>
  <strong>T3:</strong>
  <%= @gamestat.t3 %>
</p>

<p>
  <strong>T3a:</strong>
  <%= @gamestat.t3a %>
</p>

<p>
  <strong>T1:</strong>
  <%= @gamestat.t1 %>
</p>

<p>
  <strong>T1a:</strong>
  <%= @gamestat.t1a %>
</p>

<p>
  <strong>Rebotes:</strong>
  <%= @gamestat.rebotes %>
</p>

<p>
  <strong>Rebotesoff:</strong>
  <%= @gamestat.rebotesoff %>
</p>

<p>
  <strong>Assistencias:</strong>
  <%= @gamestat.assistencias %>
</p>

<p>
  <strong>Robos:</strong>
  <%= @gamestat.robos %>
</p>

<p>
  <strong>Tapones:</strong>
  <%= @gamestat.tapones %>
</p>

<p>
  <strong>Perdidas:</strong>
  <%= @gamestat.perdidas %>
</p>

<p>
  <strong>Faltas:</strong>
  <%= @gamestat.faltas %>
</p>

<p>
  <strong>Faltasrecibidas:</strong>
  <%= @gamestat.faltasrecibidas %>
</p>

<p>
  <strong>Valoracion:</strong>
  <%= @gamestat.valoracion %>
</p>

<%= link_to 'Edit', edit_gamestat_path(@gamestat) %> |
<%= link_to 'Back', gamestats_path %>
