<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @player.team_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @player.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @player.apellido %>
</p>

<p>
  <strong>City:</strong>
  <%= @player.city %>
</p>

<p>
  <strong>Nacimiento:</strong>
  <%= @player.nacimiento %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @player.altura %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @player.peso %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Shotins:</strong>
  <%= @player.shotins %>
</p>

<p>
  <strong>Shotmed:</strong>
  <%= @player.shotmed %>
</p>

<p>
  <strong>Shotlong:</strong>
  <%= @player.shotlong %>
</p>

<p>
  <strong>Shotfree:</strong>
  <%= @player.shotfree %>
</p>

<p>
  <strong>Fuerza:</strong>
  <%= @player.fuerza %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @player.speed %>
</p>

<p>
  <strong>Jump:</strong>
  <%= @player.jump %>
</p>

<p>
  <strong>Resist:</strong>
  <%= @player.resist %>
</p>

<p>
  <strong>Steal:</strong>
  <%= @player.steal %>
</p>

<p>
  <strong>Block:</strong>
  <%= @player.block %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @player.pass %>
</p>

<p>
  <strong>Reb:</strong>
  <%= @player.reb %>
</p>

<p>
  <strong>Mental:</strong>
  <%= @player.mental %>
</p>

<p>
  <strong>Teamwork:</strong>
  <%= @player.teamwork %>
</p>

<p>
  <strong>Potencial:</strong>
  <%= @player.potencial %>
</p>

<p>
  <strong>Intensidad:</strong>
  <%= @player.intensidad %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
